
#resume {
    padding: 10px 50px 10px 50px!important;
    /*font-family: Arial,Helvetica Neue,Helvetica,sans-serif!important;*/
    /*font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif!important;*/
    /*font-family: 'Libre Franklin', 'Segoe UI', 'Arial', sans-serif !important;*/
}

@page {
    size: A4;
    margin: 0
}

@media print {
    html, body {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
        background: white!important;
    }

    #resume {
        padding: 10px 50px 2px 50px !important;
        background: white !important;
        box-shadow: none !important;
    }

    .container, .row, .col {

    }
}

