#experience{
    font-size: 14px!important;
    cursor: pointer;
}

#experience .text-decoration-underline{
    text-decoration-color: rgba(0, 0, 0, 0.5)!important;
}

#experience .resp, #experience .achiev{
    font-size: 14px!important;
}

@media print{
    #experience{
        font-size: 11px!important;
    }

    #experience .resp, #experience .achiev{
        font-size: 10px!important;
    }
}



