#controls input:focus{
    box-shadow: none;
}

#controls .btn, #controls .dropdown-menu{
    border-radius: 0;
}

#controls .dropdown-item:hover{
    background-color: #0a53be;
    color: white;
}

#controls .dropdown-item.active{
    background-color: var(--bs-primary-bg-subtle);
    color: black;
}

#controls .dropdown-item.active:hover{
    background-color: var(--bs-primary);
}