html {
  /*font-family: Work Sans, sans-serif, Noto Colr Emoji Glyf;*/
  line-height: 1.5;
  font-size: 1em;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  background-color: #f4f4f5 !important;
}
