#resume_contact{
    cursor: pointer;
}

#resume_contact .contact{
    font-size: 13px;
}

@media print{
    #resume_contact .contact{
        font-size: 11px !important;
    }

    #resume_contact .gap-2 {
        gap:0.1rem !important;
    }

    #resume_contact .contact{
        padding-right: 0.4rem !important;
    }

}